@font-face {
  font-family: 'GothaProBla';
  src: url('./assets/fonts/GothaProBla.woff') format('woff'),
  url('./assets/fonts/GothaProBla.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProBlaIta';
  src: url('./assets/fonts/GothaProBlaIta.woff') format('woff'),
  url('./assets/fonts/GothaProBlaIta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProBol';
  src: url('./assets/fonts/GothaProBol.woff') format('woff'),
  url('./assets/fonts/GothaProBol.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProBolIta';
  src: url('./assets/fonts/GothaProBolIta.woff') format('woff'),
  url('./assets/fonts/GothaProBolIta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProIta';
  src: url('./assets/fonts/GothaProIta.woff') format('woff'),
  url('./assets/fonts/GothaProIta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProLig';
  src: url('./assets/fonts/GothaProLig.woff') format('woff'),
  url('./assets/fonts/GothaProLig.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProLigIta';
  src: url('./assets/fonts/GothaProLigIta.woff') format('woff'),
  url('./assets/fonts/GothaProLigIta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProMed';
  src: url('./assets/fonts/GothaProMed.woff') format('woff'),
  url('./assets/fonts/GothaProMed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProMedIta';
  src: url('./assets/fonts/GothaProMedIta.woff') format('woff'),
  url('./assets/fonts/GothaProMedIta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProNarBol';
  src: url('./assets/fonts/GothaProNarBol.woff') format('woff'),
  url('./assets/fonts/GothaProNarBol.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProNarMed';
  src: url('./assets/fonts/GothaProNarMed.woff') format('woff'),
  url('./assets/fonts/GothaProNarMed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothaProReg';
  src: url('./assets/fonts/GothaProReg.woff') format('woff'),
  url('./assets/fonts/GothaProReg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}